/* * {
    border: dotted red;
} */
body {
    background-color: black;
}

.cardbody {
    background-color: white;
}

.iconflexbox {
    display: flex;
    justify-content: space-between;
}

.cardheader {
    display: flex;
}

.headertext {
    width: 100rem;
}

img {
    width: 10rem;
}