* {
    border: dotted red;
}

.iconflexbox {
    display: flex;
    justify-content: space-between;
}

.cardheader {
    display: flex;
}

.headertext {
    width: 100rem;
}

img {
    width: 100%;
}